@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

body {
  background-color: #25291c;
  color: white;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.dashboard-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  color: #ffffff;
}

.teste {
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.logout-button {
  padding: 10px 15px;
  background-color: #e07c7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.logout-button:hover {
  background-color: #d16a6a;
}
